*{
    font-family: 'Oswald', sans-serif;
    color: #fff;
    letter-spacing: 1px;

}

body{
    background: #225;
    margin: 0;
}

.container{
    display: flex;
    height: 100vh;
    justify-content: center ;
    align-items: center ;
    flex-direction: column;
}

.header{
    display: flex;
    flex-direction: column ;
    width: 550px;
    height: 75px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
    background:#448 ;
    border-radius: 32px;
    box-shadow: 10px 10px 2px #00000033, -1px -1px 2px #fff;

}

.titulo{
    font-size: 1.5em;
}

.contenido{
    display: flex;
    width: 100%;
    justify-content: space-around;
}

.calculadora{
    max-height: 431px;
    border-radius: 32px;
    box-shadow: 10px 10px 2px #00000033, -1px -1px 2px #fff;
    display: grid;
    background: #448;
    grid-template-columns: repeat(7,75px);
    grid-template-rows: repeat(5, 80px); 
    padding: 15px;
    user-select: none;
}

.display{
    display: flex;
    justify-content: space-between;
    text-align: right;
    flex-direction: column;
    grid-column: 1 / 6;
    grid-row: 1/3;
    font-size: 1.2em;
    padding: 20px;
    margin: 15px 15px 20px ;
    background-color: #222;
    border-radius: 32px;
    box-shadow: 0px 0px 0px 10px #00000033;
    word-break: break-all;    
}

#valor-anterior{
    font-size: 1.5em;
}

button{
    cursor: pointer;
    font-size: 1.4em;
    border: none;
    padding: 0;
    border-radius: 32px;
    margin: 5px;
    box-shadow: 5px 5px 10px -3px #114,  -1px -1px 1px  #fff;
}



.menu-temas{
    display:grid;
    justify-content: center;
    height: 90%;
    max-height: 431px;
    max-height: 90%;
    background: #448;
    border-radius: 32px;
    width: 20%;
    padding: 20px;
    box-shadow: 10px 10px 2px #00000033, -1px -1px 2px #fff;
}

.menu-texto{
    text-align: center;
    font-size: 1.3em;
    padding-bottom: 10px;
}

.selector-temas{
    display: grid;
    grid-template-rows: repeat(4,80px);
    width: 300px;
    height: 100%;
    gap: 10px 10px;
}

.temas{
    width: 100%;
    border-radius: 20px; 
    border: 5px solid #00000033;
    cursor: pointer;
}

.predeterminado{
    text-align: center;
    padding: 18px 0;
    background: #225;
    font-size: 1.3em;
}

.historial{
   
    width: 20%;
    height: 90%;
    max-height: 431px;
    font-size: 1.5em;
    background: #448;
    border-radius: 32px;
    padding: 20px;
    box-shadow: 10px 10px 2px #00000033, -1px -1px 2px #fff;
}

.historial-menu{
    display: flex;
    flex-direction: column;
}

.historial-titulo{
    text-align: center;
    font-size: 0.8em;
    padding: 10px;
    margin-bottom: 10px;
}

.historial-resultados{
    max-height: 326px;
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    background: #559 ;
    border-radius: 20px;
    gap: 10px 10px;
    overflow:auto scroll ;

}

.resultado{
    width: fit-content;
    padding: 5px;
    padding-left: 15px;
    word-wrap: break-word;
}
























/* CAMBIOS ESPECIALES */

#rojo{
    background: red;
}

#negro{
    background: black;
}

#verde{
    background: darkgreen;
}

#default{
    cursor: default;
}

.azul{
    background: #225;  
}

.operador{
    background: #225;
}

.borrado{
    background: rgb(213, 117, 15);
}

.numero{
    background: #227;
}

.row-2{
    grid-row: span 2;
    background: #f7ecec;
    color: #000000;
    font-size: 2.5em;
}

.col-2{
    grid-column: span 2;
}

.subtema{
    display: none;
}

.seleccion{
    display: none;
}

#sel-pred{
    display: block;
    width: 45px;
    height: 40px;
    opacity: 50%;
    padding-left: 130px;
}

/* PSEUDOELEMENTOS */

.numero:hover{
    background: rgb(16, 16, 52);
}

.raiz:hover{
    background: rgb(16, 16, 52);
}

.pi:hover{
    background: rgb(16, 16, 52);
}

.operador:hover{
    background: rgb(16, 16, 52);
}

.borrado:hover{
    background: rgb(159, 90, 17);
}

.operador[value="igual"]:hover{
    background: #c6c6c6;
}

#rojo:hover{
    background: rgb(214, 1, 1);
}

#negro:hover{
    background: rgb(28, 27, 27);
}

#verde:hover{
    background: rgb(1, 79, 1);
}
